@import url("https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: Laila, sans-serif;
}

:root {
  --pink: #fdbfd4;
  --purple: #7b5cc6;
  --light-purple: #7b5cc680;
  --transparent-purple: #BDADE3;
  --primary-accent: #000000cc;
  --secondary-accent: #00000080;
  --white: #ffffff;
  --darker-white: #faf8ff;
}
